html, body { 
    height: 100%;
    margin: 0;
  
    background-color: #5957a5;
}

.login-form { 
    height: 100%;

    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 30px;
    background: #fff;
    height: 100%;
    width: 70%;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
}


.back-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a:link, a:visited {
    background-color: #bda1f4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

h1{
    text-align: center;
}

.img-container{
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 20%;
    border-radius: 80%;
}

img.wrongPage{
    width: 10%;
}

.container {
  padding: 16px;
  font: bold large serif;
  text-align: left;
}

button:hover{
    opacity: 0.8;
}

a:hover{
    opacity: 0.8;
}

button {
    background-color: #bda1f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.logout-btn{
    background-color: #dfa7d3;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
}

h2{
    margin-right: 40px;
    margin-top: 40px;
}

h2 span{
    color: #bda1f4;
}

.word{
    margin: auto;
    text-align: center;
    font: 1.3em sans-serif;
    color: #E094B2;
    width: 50%;
    border: 3px dashed #ADC0DA;
    padding: 20px;
    margin-bottom: 20px;
}

#error{
    color: #fff;
    text-align: center;
    font: bold italic large serif;
}

#curValid{
    color: #E094B2;
}

#success{
    text-align: center;
    color: red;
    border: 1px solid #498a78;
    background-color: #b7eae3;
    border-radius: 10px;
    padding: 3px;
}

#keeper{
    color: #e5958e;
    font-size: large;
}

.list{
    font: bold large serif;
    border-bottom: 1px solid #5957a5 ;
    border-top: 1px solid #5957a5;
    color: #5957a5;
    background-color: #f4e3ff;
}

.preList{
    color:  #e5958e;
    text-decoration: underline;
}

#wordList{
    font: bold 20px serif;
    width: 900px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}